.center{
    width: 450px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 15px; 
    font-size: 17px;
}
input{
    width: 270px;
    height: 17px;
    float: right;   
    font-size: 13px;
}
.bottom{
    width:100px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
input.buton{
    width: 100px; 
    height: 20px;
    background-color: #4169E1;
    color: white;
    cursor: pointer;
}  
.pass{
    width: 450px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: 15px; 
    font-size: 11px;
    cursor: pointer;
}
.logo{
    text-align: center;
    margin-top: 50px;
}